body {
    background: linear-gradient(90deg, #000000, #013481);
}

h1, p, .computerChoiceDiv{
    color: white;
    text-align: center;
}

.inputs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 12px;
}

.result {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    color: white;
}

.computerChoice, .playerScore, .computerScore {
    font-weight: bold;
}

.rock, .paper, .scissors {
    width: 150px;
}